* {
    margin: 0px;
    padding: 0px;
    font-family: "arial";
    text-align: center;
    background-color: white;
    color: black;
    
}

header {
    background-color: rgb(73, 80, 207);
    height:100px;
    width: 100%;
}

/*for the nav bar*/
    .container {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        background-color: rgb(73, 80, 207);
    }

    .logo {
        float: left;
        height: 6%;
        width: 6%;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: rgb(73, 80, 207);

    }

    nav {
        float: right;
    }
    nav ul, li, a {
        background-color: rgb(73, 80, 207);
        color: white;
    }
    nav ul {
        margin: 0;
        padding: 0;
        padding-right: 20px;
        padding-bottom: auto;
        list-style: none;

    }

    nav li {
        display: inline-block;
        margin-left: 50px;
        padding-top: 55px;
        
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
    }

hr {
    margin: 5%;
}

p {
    text-align: center;
    font-size: 30px;
    border: 2px;
    margin: 60px;
    display: block;

  }

h1 {
    border: 2px;
    margin: 50px;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    padding-top: 10px;

}



.section-h2h {
  
  
}

.team-name {
    font-size: 30px;
    text-align: center;
    background-color: rgb(73, 80, 207);
    color: white;
}

.tables {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 3px;
}

table, th, tr, td {
    box-sizing: border-box;
    width: 47%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 3px;
    margin: 15px;
    background-color: white;
}

td {
    padding-left: 10px;
}


