* {
    margin: 0px;
    padding: 0px;
    font-family: "arial";
    text-align: center;
    background-color: white;
    color: black;
    
}

header {
    background-color: rgb(73, 80, 207);
    height: 100px;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 10px 0px 0px black;
    position: sticky;
}

/*for the nav bar*/
    .container {
        width: 100%;
        margin: 0;
        background-color: rgb(73, 80, 207);
        display: flex;
        justify-content: space-between;
        
    }

    .container a:hover {
        border: 2px rgb(249, 252, 112);
        background-color: rgb(111, 115, 194);
        color: rgb(249, 252, 112);
        border-bottom: 120%;
    }

    .logo {
        height: 80px;
        width: 114px;
        align-self: center;
    }

    nav ul {
        height: 100%;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        padding-bottom: auto;
        list-style: none;
        display: flex;
    }

    nav ul, li, a {
        background-color: rgb(73, 80, 207);
        color: white;
    }


    nav ul li {
        margin-left: 50px;
        margin-top: 55px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
    }

hr {
    margin: 5%;
}

p {
    text-align: center;
    font-size: 30px;
    border: 2px;
    margin: 60px;
    display: block;

  }

h1 {
    border: 2px;
    margin: 50px;
    font-size: 50px;
}


h2 {
    font-size: 50px;
    padding-top: 10px;

}

.team-name {
    font-size: 30px;
    text-align: center;
    background-color: rgb(73, 80, 207);
    color: white;
}

.tables {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 3px;
}

table, th, tr, td {
    box-sizing: border-box;
    width: 47%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 3px;
    margin: 15px;
    background-color: white;
}

td {
    padding-left: 10px;
}

a {
    top: -50px;
}


@media (max-width: 1118px) {
    .container nav ul li {
        font-size: 10px;
    }

}